body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1200px;
    font-family: 'Montserrat';
}

.header-container {
    display: grid;
}

.navegation-container {
    display: grid;
    margin-bottom: 30px;
}

.curriculo-title {
    margin: 0 auto;
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: bold;
}

.list-menu {
    font-size: 1.5em;
    margin: 0 auto;
    justify-content: center;
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.759);
}

p {
    text-align: justify;
}

.aboutme, .educational {
    margin-left: 40px;
    margin-right: 30px;
    line-height: 25px;
    font-size: 20px;
}

.educational {
    line-height: 45px;
}

.educational-list {
    list-style-type: square;
    margin-left: 23px;
}

h1 {
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.798);
}

/*logo*/
.logo-github {
    margin-top: 100px;
    padding-top: 20px;
    margin-left: 40px;
    width: 50px;
}
.logo-linkedin {
    margin-top: 100px;
    padding-top: 20px;
    margin-left: 20px;
    width: 50px;
}



